* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: tomato;
    height: 100vh;
    width: 100%;
    font-size: 1em;
}


.header {
    width: 70%;
/*    height: 15%;*/
    margin: 0 auto;
    position: relative;
    top: -13%;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}



.heart {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
}

.heart ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.heart ul li {
    width: 35px
}

.time,
.level {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1em;
}

.time {
    width: 60%;
}

.level {
    width: 30%
}



canvas {
    height: 60%;
    width: 80%;
    margin-top: -70px;
}



.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: black;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}


.footer a {
    color: tomato;
    font-size: 1.3em;
    display: inline-block;
}

.hit--message {
    color: tomato;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.hit {
    visibility: hidden;
    font-size: 4em;
    text-transform: uppercase;
}


.hit--msg {
    visibility: visible;
    -webkit-animation: animate2 0.7s ease-in-out infinite;
    animation: animate2 0.7s ease-in-out infinite;
}


.animate {
    font-size: 1.4em;
    -webkit-animation: animate 1s ease infinite;
    animation: animate 1s ease infinite;
}


@-webkit-keyframes animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes animate2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes animate2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.3;
    }
}

@media screen and (width:320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px)/680));
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 1.2em;
        height: 90vh;
    }

    .footer {
        font-size: 17px;
    }
    canvas {
        height: 60%;
        width: 90%;
    }
    .time {
        width: 60%;
        font-size: 0.7em
    }
    .heart {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .level {
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 0.8em;
    }
    .heart ul {
        padding-left: 25%
    }
}

@media screen and (min-width: 1000px) {

    html {
        font-size: 22px;
    }
}

