* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: tomato;
    height: 100vh;
    width: 100%;
}


.header {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: -7%;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}



.heart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.heart ul {
    list-style: none;
    display: flex;
}

.heart ul li {
    width: 35px
}

.time,
.level {
    align-self: center;
    font-size: 1.3em
}

.level {
    padding-right: 40px;
}



canvas {
    height: 85vh;
    width: 100vh;
    margin-top: -50px;
}



.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: black;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}


.footer a {
    color: tomato;
    font-size: 1.3em;
    display: inline-block;
}

.hit--message {
    color: tomato;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.hit {
    visibility: hidden;
    font-size: 4em;
    text-transform: uppercase;
}


.hit--msg {
    visibility: visible;
    animation: animate2 0.7s ease-in-out infinite;
}


.animate {
    font-size: 1.4em;
    animation: animate 1s ease infinite;
}


@keyframes animate {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.3;
    }
}
